<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.all_habits">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Location"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.All_habits">
        <activity
            android:name=".FollowingHabits"
            android:exported="false" />
        <activity
            android:name=".Following"
            android:exported="false" />
        <activity
            android:name=".Followers"
            android:exported="false"
            android:label="@string/title_activity_followers"
            android:theme="@style/Theme.All_habits.NoActionBar" />
        <activity
            android:name=".Requests"
            android:exported="false" />
        <activity
            android:name=".SearchPage"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDpvzffaXx1m5LEHwvtOLHNkoJYIAMYwmc" />

        <activity
            android:name=".CurrentLocation"
            android:exported="true"
            android:label="@string/title_activity_current_location" />
        <activity
            android:name=".cameraActivity"
            android:exported="true" />
        <activity
            android:name=".Create"
            android:exported="true" />
        <activity
            android:name=".OtherUsersList"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".EditDelete"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Comments"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TodaysHabits"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayUserProfile"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HabitEvents"
            android:exported="true"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>